<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <form>
      <!-- <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input type="text" class="form-control"  aria-describedby="emailHelp">
      </div> -->
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input  [(ngModel)]="email" [ngModelOptions] = "{standalone: true }" class="form-control"  aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input  [(ngModel)]="password" [ngModelOptions] = "{standalone: true }" class="form-control">
      </div>
      <button type="submit"
              class="btn btn-primary"
              (click)="signup()"
              [disabled]="!email || !password">
              Submit
      </button>
      <div class="form-group">
        <label for="button">o</label><br>
        <button type="button" class="btn btn-primary" name="button" routerLink="/login">Regresar al Login</button>
      </div>
    </form>
  </div>
</div>